* {
  background-color: grey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 50px;
  padding: 10px;
}
p {
  margin: 50px 20px 30px 30px;
  padding: 10px;
}
img {
  border: 2px solid rgb(159, 193, 23);
  padding: 10px;
  width: 500px;
  float: left;
  margin: 20px;
}
