* {
  background-color: grey;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  margin: 50px;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
}
p {
  margin: 50px 20px 30px 30px;
  padding: 10px;
  position: relative;
}

img {
  width: 300px;
  height: 200px;
  margin: 50px;
  position: sticky;
  top: 0%;
  left: 2%;
  opacity: 0.8;
}
h2 {
  margin: 50px;
  padding: 10px;
  position: absolute;
  top: 0%;
  right: 0%;
  background-color: black;
  color: yellowgreen;
}
