      * {
        background-color: grey;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    h1 {
        border: 2px solid yellowgreen;
        margin: 50px;
        padding: 10px;
    }
    p {
        border: 2px solid yellowgreen;
        margin: 50px 20px 30px 30px;
        padding: 10px;
    }